<section class="container">
  <h2>Products Component</h2>
  <h3>
    Rta
  </h3>
  <button (click)="callPromise()" class="btn-promise">
    Call Promise
  </button>
  <p class="rta">
    {{rta}}
  </p>
  <div class="my-grid">
    <app-product
      *ngFor="let product of products"
      [product]="product">
  </app-product>
  </div>
  <button [disabled]="status === 'loading'" (click)="getAllProducts()" class="btn-load">
    <span *ngIf="status === 'init' || status === 'success'">Load more</span>
    <span *ngIf="status === 'loading'">Loading...</span>
    <span *ngIf="status === 'error'">Error</span>
    </button>
</section>